body {
    font-family: sans-serif;
    text-align: center;
    background: #f0f0f0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    justify-content: center;
    padding-bottom: 20px;
}

.inline-block {
    display: inline-block;
}

#output {
    vertical-align: top;
    min-width: 50px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cell.block {
    background-color: #ddd;
}

.cell.start {
    background-color: green;
}

.cell.output {
    background-color: orange;
}

.connection {
    position: absolute;
    background-color: black;
    z-index: 1;
}

.active {
    border: dashed red;
}

.connection.horizontal {
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.connection.vertical {
    width: 4px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
